#include <windows.h>
#include "resource.h"

IDD_INPUT_DLG DIALOGEX 0, 0, 280, 104
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Interface details"
FONT 10, "Segoe UI"
BEGIN
    LTEXT "Point source (e.g. OPC, RDBMS, PI2PI):", -1, 12, 12, 256, 12
    EDITTEXT IDC_POINT_SOURCE, 12, 26, 256, 14, ES_AUTOHSCROLL
    LTEXT "Interface ID (e.g. 1, 2):", -1, 12, 48, 256, 12
    EDITTEXT IDC_INTERFACE_ID, 12, 62, 256, 14, ES_AUTOHSCROLL
    DEFPUSHBUTTON "OK", IDOK, 110, 84, 72, 16
    PUSHBUTTON "Cancel", IDCANCEL, 196, 84, 72, 16
END
